* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 16px;
}

h1 {
  letter-spacing: -1px;
  font-family: 'Lobster', cursive;
  font-size: 140px;
  margin: 0;
  color: #fff;
  font-weight: 800;
}

h2, h3, h4, p, button, li, label {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  color: #222;
}

h2 {
  letter-spacing: -0.5px;
  font-size: 30px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-weight: 400;
  font-size: 20px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  margin: 20px 0;
  padding: 0 20px;
}

li {
  margin: 20px 0;
  font-weight: 400;
  font-size: 18px;
}

button {
  cursor: pointer;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
}

.centered-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home {
  text-align: center;
  width: 100%;
  height: 100vh;

  background-color: #ad5389;
  background-image:
    linear-gradient(
      to top right, 
      #3c1053, #ad5389
    );
}

.home h3, .home h4, .home p {
  color: #eee;
}

.home p {
  margin: 10px;
}

.business, .influencer, .signup {
  margin: 100px 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-container-right {
  margin-left: 30px;
}

.list-container-left {
  margin-right: 30px;
}

img {
  width: 500px;
}

.box-container {
  margin-top: 20px;
}

.box {
  margin: 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 33.33%;
  text-align: center;
  align-items: center;
}

.box p {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  font-weight: 500;
  border-radius: 4px;
}

.box p strong {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  color: #ad5389;
}

span {
  line-height: 25px;
  margin-top: 10px;
}

.signup {
  text-align: center;
}

.signup h2 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.signup p {
  max-width: 500px;
  margin: 0 auto;
  font-weight: 400;
}

.signup p strong {
  font-weight: bold;
}

.signup a {
  color: #ad5389;
}

.field {
  margin: 10px 0;
}

.field label {
  display: block;
  font-weight: 600;
}

input, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  width: 220px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #333;
  background: #fff;
}

form {
  margin: 20px auto;
}

form button {
  border: 1px solid #333;
  color: #000;
  width: 220px;
  padding: 5px;
}

footer {
  background-color: #ad5389;
  background-image:
    linear-gradient(
      to top right, 
      #3c1053, #ad5389
    );
  
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  letter-spacing: -1px;
  margin: 0;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;
}

footer a {
  color: #fff;
}

footer i {
  font-size: 30px;
}

.mobile-col {
  display: none;
}

.desktop-col {
  display: block;
}

iframe {
  margin-top: 40px;
  width: 300px;
}

@media only screen and (max-width: 800px) {
  .centered-content {
    width: 400px;
  }

  .business, .influencer, .signup {
    text-align: center;
  }

  img {
    width: 400px;
  }

  .box {
    width: 100%;
    padding: 0;
  }

  .box p {
    height: auto;
  }

  .mobile-col {
    display: block;
  }

  .desktop-col {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  .list-container-right {
    margin-left: 0;
  }
  
  .list-container-left {
    margin-right: 0;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p, li {
    font-size: 16px;
  }

  button {
    padding: 10px;
    width: 160px;
  }

  ul {
    margin: 0;
    padding: 0 30px;
  }

  .centered-content {
    width: 300px;
  }

  img {
    width: 300px;
  }

  .signup h2 {
    font-size: 50px;
  }

  footer h3 {
    font-size: 30px;
  }
}

@supports (-webkit-touch-callout: none) {
  h1 {
    letter-spacing: -8px;
  }

  .signup h2 {
    letter-spacing: -3px;
  }
}